
/* empieza el titulo y el indice*/
body{
    font-family:'Roboto Condensed', sans-serif ;
    
}
#titulo1 {
    text-align: center;
    font-family:'Roboto Condensed', sans-serif ;
    font-size: 100px;    
}
#titulo2 {
    text-align: center;
}
.col-3 {
    background-image: linear-gradient(105deg, rgb(219, 197, 206) 39%, rgb(218, 193, 221) 96%);
}
h1 {
    border-bottom: #000000 solid;   
}
.container-sm {
    height: 150px;
    margin-top: -100px;   
}
 #nav{
    width: 155px;
    position: fixed;
 }
 
.titulonav{   
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #999999;
    color: #3b3737;
    padding: 10px;
    margin-top: 30px;
    background-image: linear-gradient(105deg, rgb(148, 203, 219) 39%, rgb(240, 209, 228) 96%);
 }
  .cuerporec{
    margin-top: 10px;
    margin-right: 0pt;
    margin-bottom: 10px;
    margin-left: 0pt;
 }
 .cuerporec ul{
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 1px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
 }
 .cuerporec li{
    border-width: 1px;
    border-style: solid;
    border-color: #d7d7d7;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 0px 10px 2px;
    font-size: 12pt;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-right: 0pt;
    margin-bottom: 2px;
    margin-left: 0pt;
    background-image: linear-gradient(105deg, rgb(161, 212, 181) 39%, rgb(226, 238, 227) 96%);
}

/* termina titulo y indice*/

/*comienza cuerpo cv*/

.col {
    border-left: #000000 solid 1px;   
    font-family: 'Roboto Condensed', sans-serif;
 }
 .cuerpodatospersonales ul li {
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
 }
 #datospersonales {
    font-family:'Roboto Condensed', sans-serif ;
    font-size: 30px;
    text-align: left;
    background-image: linear-gradient(105deg, rgb(238, 209, 233) 39%, rgb(224, 203, 226) 96%);
    margin-left: 50px;
 }
 #estudioscursados {
    font-family: 'Roboto Condensed', sans-serif ;
    font-size: 40px;
    margin-top: 30px;
    text-align: left;
    background-image: linear-gradient(105deg, rgb(238, 209, 233) 39%, rgb(224, 203, 226) 96%);
    margin-left: 50px;
}
.cuerpoestudioscursados ul li {
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}

#habilidades {
    font-family: 'Roboto Condensed', sans-serif ;
    font-size: 40px;
    margin-top: 30px;
    text-align: left;
    background-image: linear-gradient(105deg, rgb(238, 209, 233) 39%, rgb(224, 203, 226) 96%);
    margin-left: 50px;
}
.cuerpohabilidades ul li {
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}
#datosexplaboral {
    font-family: 'Roboto Condensed', sans-serif ;
    font-size: 40px;
    margin-top: 30px;
    text-align: left;
    background-image: linear-gradient(105deg, rgb(238, 209, 233) 39%, rgb(224, 203, 226) 96%);
    margin-left: 50px;
}
.cuerpoexplaboral ul li {
    list-style-type: disc;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}

.tituloexplaboral {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Roboto Condensed', sans-serif ;
    font-size: 30px;
}

#resumenprofesional {
    font-family: 'Roboto Condensed', sans-serif ;
    font-size: 40px;
    margin-top: 30px;
    text-align: left;
    background-image: linear-gradient(105deg, rgb(238, 209, 233) 39%, rgb(224, 203, 226) 96%);
    margin-left: 50px;
  
}
.cuerporesumenprofesional ul li {
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #000000;
    font-family: 'Roboto Condensed', sans-serif ;
    font-size: medium;
    color: #ffffff;
}
